form[action='./Signin'] #LOGIN_PAGE {
    margin-top: 16px;
}

form[action='./Signin'],
form[action='./Signin']  {
    #LOGIN_PAGE #divCurrencyLandingImg,
    #LOGIN_PAGE #Login_Currency_heading,
    #LOGIN_PAGE #collapseCurrency,
    #LOGIN_PAGE #div1,
    #LOGIN_PAGE #collapseLogin > .row:first-child {
        display:none;
    }
}

#x-breadcrumbs {
    display:none !important;
}

.blockUI {
    display:none !important;
}